/* Menu siempre arriba a la derecha
-----------------------*/
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
nav {
    position: fixed;
    top: 10;
    right: 0;
    width: 100%;
}

/* Estilo de fuentes 
-----------------------*/


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
/* font-family: 'Oleo Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* font-family: 'Alfa Slab One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* font-family: 'Satisfy', cursive; */

.tituloprincipal {
   
    font-size:50px;
    margin: 0;
}

.subtituloprincipal {
    font-family: 'Oleo Script', cursive;
    font-size:28px;
    margin: 0;
}

.titulocapitulo {
    font-family: 'Oleo Script', cursive;
    font-size:40px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.estilohref {
    font-family: 'Abril Fatface', cursive;
    font-size:16px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    text-decoration:none;
    color: black;
}

.titulotabla {
    font-family: 'Satisfy', cursive;
    font-size:24px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    color: black;
}

.infoempresa {
    font-family: 'Satisfy', cursive;
    font-size:18px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    color: black;
}

.textotabla {
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;
    font-weight: lighter;
    margin: 0;
    color: black;
}

.textofecha {
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    color: black;
}


