/* Menu siempre arriba
-----------------------*/
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
nav {
    position: fixed;
    top: 10;
    right: 0;
    width: 100%;
}

/* Estilo de fuentes 
-----------------------*/

.tituloprincipal {
   
    font-size:50px;
    margin: 0;
}

.subtituloprincipal {
    font-size:28px;
    margin: 0;
}

.titulocapitulo {
    font-size:40px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.estilohref {
    font-size:16px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    text-decoration:none;
    color: black;
}

.titulotabla {
    font-size:24px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    color: black;
}

.infoempresa {
    font-size:18px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    color: black;
}

.textotabla {
    font-size:16px;
    font-weight: lighter;
    margin: 0;
    color: black;
}

.textofecha {
    font-size:14px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    color: black;
}


